{
  "console_admin_password": "${console_admin_password}",
  "puppet_enterprise::puppet_master_host": "${fqdn}",
  "puppet_enterprise::profile::certificate_authority::allow_auto_cert": true,
  "puppet_enterprise::profile::master::java_args": {
    "Xms": "512m",
    "Xmx": "1024m"
  }
}
